{% extends 'mother.html' %}

{% block title %}CRM{% endblock %}

{% load staticfiles %}

{% block css %}
    <!-- Date-time picker css -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/pages/advance-elements/css/bootstrap-datetimepicker.css' %}">
    <!-- Date-range picker css  -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/bootstrap-daterangepicker/css/daterangepicker.css' %}"/>
    <!-- Date-Dropper css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datedropper/css/datedropper.min.css' %}"/>
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
    <!--datedropper-->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datepicker/css/datepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datepicker/css/iconfont.css' %}">
    <!-- 导入每个具体模块的第三方模块css -->



{% endblock %}


{% block content %}

    <div class="page-header card">
        <div class="card-block">
            <h5 class="m-b-10">CRM</h5>
            <p class="text-muted m-b-10">客户关系管理系统</p>
            <ul class="breadcrumb-title b-t-default p-t-10">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}"> <i class="fa fa-home"></i> </a>
                </li>
                <li class="breadcrumb-item"><a href="#!">中央维修</a>
                </li>
                <li class="breadcrumb-item"><a href="#!">中央维修单</a>
                </li>
                <li class="breadcrumb-item"><a href="#!">工作台</a>
                </li>

            </ul>
        </div>
    </div>

    <!-- tab header start -->
    <div class="tab-header card">
        <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm_maintenance:overview' %}">服务单概览</a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm_maintenance:handlinglist' %}">服务单明细</a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'crm_maintenance:worklist' %}">工作台</a>
                <div class="slide"></div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm_maintenance:upload' %}">单据导入</a>
                <div class="slide"></div>
            </li>

        </ul>
    </div>
    <!-- tab header end -->

    <div class="card">

        <div class="tab-header">

        </div>

        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table id="table" class="table table-styling table-bordered">
                    <!--/* 表格上部的标签和功能区域。*/-->

                    <!-- datepicker sign end -->


                    <div class="row">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                        <a href="{% url 'crm_maintenance:handlinglist' %}" id="total"
                           class="btn btn-primary btn-round">返回服务单明细</a>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <a href="{% url 'crm_maintenance:handlinglist' %}?order_tag=9&num={{ num }}" id="pending"
                           class="btn btn-primary btn-round">查询二次维修单</a>

                        <span>&nbsp;&nbsp;&nbsp;</span>


                        <span>&nbsp;&nbsp;&nbsp;</span>


                        <!-- datepicker sign start -->

                        <span>&nbsp;&nbsp;&nbsp;</span>

                        <a href="?num={{ num }}&download_tag=1" id="pending"
                           class="btn btn-primary btn-square">下载订单</a>
                        {% if download_error %}<a>{{ download_error }}</a>{% endif %}
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <form class="form-search pull-right" method="GET" action="{% url 'crm_maintenance:worklist' %}">
                            <input name="num" class="input-medium search-query" type="text" placeholder="分页数量">
                            <button type="submit" class="btn btn-success btn-square" contenteditable="true">提交</button>
                        </form>


                    </div>


                    <!--/* 增加一个空白行，让标签和表格有一定的分隔 */ -->
                    <div class="row"><p></p></div>


                    <thead>
                    <tr class="table-primary">

                        <th id="check-task">操作状态</th>
                        <th>维修单号</th>
                        <th>保修结束语</th>
                        <th>机器型号</th>
                        <th>审核</th>
                        <th>机器SN</th>
                        <th>完成时间</th>
                        <th>寄件客户手机</th>
                        <th>是否重复维修</th>
                        <th>是否在保</th>
                        <th>创建人</th>
                        <th>创建时间</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for order in all_orders.object_list %}
                        <tr {% if order.repeat_tag == '1' %}{% else %}class="bg-info"{% endif %}>

                            <!-- 单据状态开始 -->
                            {% if order.repeat_tag == '1' %}
                                <td class="check-task" data-id="1" scope="row">未处理</td>
                            {% else %}
                                <td class="check-task" data-id="0" scope="row">已处理</td>
                            {% endif %}
                            <!-- 单据状态结束 -->
                            <td>
                                <label >
                                    <span class="task-title-sp">{{ order.maintenance_order_id }}</span>
                                </label>
                            </td>

                            <td><span
                                    style="word-break:normal;width:auto;display:block;white-space:pre-wrap;word-wrap:break-word;overflow:hidden;">{{ order.appraisal }}</span>
                            </td>

                            <td>{{ order.goods_type }}</td>
                            <!-- 操作按钮开始 -->
                            {% if order.repeat_tag == '1' %}
                                <td>
                                    <span style="align: center">
                                        <a class="audit btn btn-primary" data-id="{{ order.id }}" duty-depart="2">产品</a>
                                    <a class="audit btn btn-primary" data-id="{{ order.id }}" duty-depart="3">维修</a>
                                    <a class="audit btn btn-primary" data-id="{{ order.id }}" duty-depart="4">客服</a>
                                    </span>

                                </td>
                            {% else %}
                                <td >已处理</td>
                            {% endif %}
                            <!-- 操作按钮结束 -->

                            <td>{{ order.machine_sn }}</td>
                            <td>{{ order.finish_time|date:"Y-m-d H:i:s" }}</td>
                            <td>{{ order.sender_mobile }}</td>

                            <!-- 判断二次维修开始 -->
                            {% if order.repeat_tag == '1' %}
                                <td scope="row">是</td>
                            {% else %}
                                <td scope="row">否</td>
                            {% endif %}
                            <!-- 判断二次维修结束 -->

                            <td>{{ order.is_guarantee }}</td>
                            <td>{{ order.creator }}</td>
                            <td>{{ order.create_time|date:"Y-m-d H:i:s" }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <nav>
                    <ul class="pagination">
                        {% if all_orders.has_previous %}
                            <li><label class="badge badge-warning"><a
                                    href="?{{ all_orders.previous_page_number.querystring }}">上一页</a></label>
                            </li>
                        {% endif %}

                        {% for page in all_orders.pages %}
                            {% if page %}
                                {% ifequal page all_orders.number %}
                                    <li class="active"><label class="badge badge-info"><a
                                            href="?{{ page.querystring }}">{{ page }}</a></label></li>
                                {% else %}
                                    <li><label class="badge badge-warning"><a href="?{{ page.querystring }}"
                                                                              class="page">{{ page }}</a></label></li>
                                {% endifequal %}
                            {% else %}
                                <li class="none"><label class="badge badge-warning"><a href="">...</a></label></li>
                            {% endif %}
                        {% endfor %}
                        {% if all_orders.has_next %}
                            <li><label class="badge badge-warning"><a
                                    href="?{{ all_orders.next_page_number.querystring }}">下一页</a></label></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col-md-4"></div>
        </div>


    </div>

{% endblock %}



{% block js %}
    <!-- Date-range picker js -->
    <script src="{% static 'bower_components/bootstrap-daterangepicker/js/daterangepicker.js' %}"></script>

    <!-- Date-dropper js -->
    <script src="{% static 'bower_components/datedropper/js/datedropper.min.js' %}"></script>

    <!-- data-table js -->
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- ck editor -->
    <script src="{% static 'assets/pages/ckeditor/ckeditor.js' %}"></script>

    <!-- echart js -->
    <script src="{% static 'assets/pages/chart/echarts/js/echarts-all.js' %}"></script>
    <script src="{% static 'assets/pages/user-profile.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/vertical/vertical-layout.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <script src="{% static 'bower_components/bootstrap-table/bootstrap-table.js' %}" rel="stylesheet"></script>
    <script src="{% static 'bower_components/bootstrap-table/locale/bootstrap-table-zh-CN.js' %}"></script>
    <!-- 导入每个具体模块的第三方模块js-->

    <!-- Todo js -->
    <script src="{% static 'assets/pages/todo/todo.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/vertical/vertical-layout.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <!--datedropper-->
    <script src="{% static 'bower_components/moment/js/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/datepicker/js/datepicker.all.min.js' %}"></script>



    <script type="text/javascript">

        function audit_order(current_elem, id, department) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "crm_maintenance:worklist" %}",
                data: {"id": id, "department": department},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == "fail") {
                        location.href = "/users/login"
                    }
                    else if (data.status == "success") {

                        current_elem.parent().text("已处理");

                    }
                }
            });

        };

        $(".audit").on("click", function () {
            var id = $(this).attr("data-id");
            var department = $(this).attr("duty-depart");

            audit_order($(this), id, department);
        });


    </script>


{% endblock %}








