{% extends 'mother.html' %}

{% block title %}CRM{% endblock %}

{% load staticfiles %}

{% block css %}
    <!-- Date-time picker css -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/pages/advance-elements/css/bootstrap-datetimepicker.css' %}">
    <!-- Date-range picker css  -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/bootstrap-daterangepicker/css/daterangepicker.css' %}"/>
    <!-- Date-Dropper css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datedropper/css/datedropper.min.css' %}"/>
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">

    <!-- 导入每个具体模块的第三方模块css -->


    <style>

        .icofont {
            display: inline-block;
            width: 36px;
            height: 36px; /*占个位**/
            color: #e95d4e;
            font-size: 36px;
        }

        .icofont:after, .icon::after {
            display: inline-block;
            content: ""; /*在这里调用字符*/
            width: 5px;
            height: 5px;
            margin-left: -16px; /*position:absolute什么的也可以，看具体情况*/
        }

        .m_chart {
            min-width: 78%;
            height: 500px;
            margin: 0 auto;
        }


    </style>



{% endblock %}


{% block content %}



    <div class="page-header card">
        <div class="card-block">
            <h5 class="m-b-10">CRM</h5>
            <p class="text-muted m-b-10">客户关系管理系统</p>
            <ul class="breadcrumb-title b-t-default p-t-10">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}"> <i class="fa fa-home"></i> </a>
                </li>
                <li class="breadcrumb-item"><a href="#!">售后管理</a>
                </li>
                <li class="breadcrumb-item"><a href="#!">机器翻新</a>
                </li>
                <li class="breadcrumb-item"><a href="#!">数据中心</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- tab header start -->
    <div class="tab-header card">
        <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'crm_refurbishment:overview' %}">数据中心</a>
                <div class="slide"></div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm_refurbishment:upload' %}">任务控制台</a>
                <div class="slide"></div>
            </li>
        </ul>
    </div>
    <!-- tab header end -->


    <div class="tab-pane" id="contacts" role="tabpanel">
        <div class="row">

            <div class="col-xl-10">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- contact data table card start -->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">当前系统订单概览</h5>
                            </div>
                            <div class="card-block contact-details">

                                <!-- 自定义时间每天翻新量 -->
                                <div class="col-md-12">
                                    <div class="card b-l-success business-info services m-b-20">
                                        <div class="card-header">
                                            <div class="service-header">
                                                <a href="#">
                                                    <h5 class="card-header-text"></h5>
                                                </a>
                                            </div>

                                        </div>
                                        <div class="card-block">

                                            <div class="row">
                                                <div class="m_chart" id="m_quantity"></div>
                                            </div>

                                            <!-- end of col-sm-8 -->
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                    <!-- end of card-block -->
                                </div>

                                <!-- 对应时间技术员排序 -->

                                <div class="col-md-12">
                                    <div class="card b-l-success business-info services m-b-20">
                                        <div class="card-header">
                                            <div class="service-header">
                                                <a href="#">
                                                    <h5 class="card-header-text"></h5>
                                                </a>
                                            </div>

                                        </div>
                                        <div class="card-block">
                                            <div class="row">

                                                <div class="m_chart" id="m_technicians"></div>


                                            </div>

                                            <!-- end of col-sm-8 -->
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                    <!-- end of card-block -->
                                </div>

                                <!-- 对应时间机器数量排序 -->
                                <div class="col-md-12">
                                    <div class="card b-l-success business-info services m-b-20">
                                        <div class="card-header">
                                            <div class="service-header">
                                                <a href="#">
                                                    <h5 class="card-header-text">跳到开始</h5>
                                                </a>
                                            </div>

                                        </div>
                                        <div class="card-block">
                                            <div class="row">

                                                <div class="m_chart" id="m_goods"></div>


                                            </div>

                                            <!-- end of col-sm-8 -->
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                    <!-- end of card-block -->
                                </div>


                            </div>

                        </div>
                    </div>
                    <!-- contact data table card end -->
                </div>
            </div>
            <div class="col-xl-2">
                <!-- user contact card left side start -->
                <div class="card">
                    <div class="card-header contact-user">
                        <h5 class="m-l-10">快捷选项</h5>
                    </div>
                    <div class="card-block">
                        <ul class="list-group list-contacts">
                            <li class="list-group-item {% if m_total.confirm_data.tag_date == "1" %}active{% endif %}">
                                <a href="?weeks_num=1">最近1周</a></li>
                            <li class="list-group-item {% if m_total.confirm_data.tag_date == "2" %}active{% endif %}">
                                <a href="?weeks_num=2">最近2周</a></li>
                            <li class="list-group-item {% if m_total.confirm_data.tag_date == "4" %}active{% endif %}">
                                <a href="?weeks_num=4">最近4周（近1个月）</a></li>
                            <li class="list-group-item {% if m_total.confirm_data.tag_date == "8" %}active{% endif %}">
                                <a href="?weeks_num=8">最近8周（近2个月）</a></li>
                            <li class="list-group-item {% if m_total.confirm_data.tag_date == "12" %}active{% endif %}">
                                <a href="?weeks_num=12">最近12周（近3个月）</a></li>
                        </ul>
                    </div>


                </div>

                <div class="card">
                    <div class="card-header contact-user">
                        <h5 class="m-l-10 ui-accordion-header-active ui-state-active">自定义时间范围</h5>
                    </div>
                    <div class="card-block">
                        <form class="form-search pull right" method="GET"
                              action="{% url 'crm_refurbishment:overview' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-11">
                                    <input name="start_time" type="date" placeholder="起始时间"
                                           value="{{ m_total.confirm_data.ori_start_time }}">
                                    <input name="end_time" type="date" placeholder="截止时间"
                                           value="{{ m_total.confirm_data.ori_end_time }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-11">
                                    <button type="submit" class="btn-success">自定义时间展示</button>
                                </div>

                            </div>

                        </form>
                    </div>


                </div>
                <!-- user contact card left side end -->
            </div>
        </div>
    </div>
    </div>


{% endblock %}



{% block js %}
    <!-- Date-range picker js -->
    <script src="{% static 'bower_components/bootstrap-daterangepicker/js/daterangepicker.js' %}"></script>

    <!-- Date-dropper js -->
    <script src="{% static 'bower_components/datedropper/js/datedropper.min.js' %}"></script>

    <!-- data-table js -->
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- ck editor -->
    <script src="{% static 'assets/pages/ckeditor/ckeditor.js' %}"></script>

    <!-- echart js -->
    <script src="{% static 'assets/pages/chart/echarts/js/echarts-all.js' %}"></script>
    <script src="{% static 'assets/pages/user-profile.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/vertical/vertical-layout.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <script src="{% static 'bower_components/bootstrap-table/bootstrap-table.js' %}" rel="stylesheet"></script>
    <script src="{% static 'bower_components/bootstrap-table/locale/bootstrap-table-zh-CN.js' %}"></script>
    <!-- 导入每个具体模块的第三方模块js-->

    <!-- Todo js -->
    <script src="{% static 'assets/pages/todo/todo.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/vertical/vertical-layout.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <script src="{% static 'bower_components/highcharts/js/highcharts.js' %}"></script>
    <script src="{% static 'bower_components/highcharts/js/exporting.js' %}"></script>
    <script src="{% static 'bower_components/highcharts/js/drilldown.js' %}"></script>
    <script src="{% static 'bower_components/highcharts/js/highcharts-zh-CN.js' %}"></script>
    <!-- 导入每个具体模块的第三方模块js-->
    <script>
        // 自定义时间每天翻新量
    var chart = Highcharts.chart("m_quantity", {
        credits: {
            enabled: false
        },
        chart: {
            type: 'column'
        },
        title: {
            text: '每天翻新量'
        },
        xAxis: {
            categories: {{ m_total.days_list_display | safe }}
        },
        yAxis: {
            min: 0,
            title: {
                text: '翻新总量'
            },
            stackLabels: {  // 堆叠数据标签
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    '总量: ' + this.point.stackTotal;
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        // 如果不需要数据标签阴影，可以将 textOutline 设置为 'none' '1px 1px black'
                        textOutline: 'none'
                    }
                }
            }
        },
        series: {{ m_total.technicians_data_display | safe }}
    });

    var chart = Highcharts.chart('m_technicians', {
        credits: {
            enabled: false
        },
	chart: {
		type: 'column'
	},
	title: {
		text: '维修数量排行'
	},
	subtitle: {
		text: '数据来源: <a href="">TBD2</a>'
	},
	xAxis: {
		type: 'category',
		labels: {
			rotation: -45  // 设置轴标签旋转角度
		}
	},
	yAxis: {
		min: 0,
		title: {
			text: '机器 (台)'
		}
	},
	legend: {
		enabled: false
	},
	tooltip: {
		pointFormat: '机器总量: <b>{point.y:.0f} 台</b>'
	},
	series: [{
		name: '总人口',
		data: {{ m_total.techs_sort | safe }},
		dataLabels: {
			enabled: true,
			rotation: -90,
			color: '#FFFFFF',
			align: 'right',
			format: '{point.y:.0f}', // :.1f 为保留 1 位小数
			y: 10
		}
	}]
});

    var chart = Highcharts.chart('m_goods', {
        credits: {
            enabled: false
        },
	chart: {
		type: 'column'
	},
	title: {
		text: '机器型号排行'
	},
	subtitle: {
		text: '数据来源: <a href="">TBD2</a>'
	},
	xAxis: {
		type: 'category',
		labels: {
			rotation: -45  // 设置轴标签旋转角度
		}
	},
	yAxis: {
		min: 0,
		title: {
			text: '机器 (台)'
		}
	},
	legend: {
		enabled: false
	},
	tooltip: {
		pointFormat: '机器总量: <b>{point.y:.0f} 台</b>'
	},
	series: [{
		name: '总数量',
		data: {{ m_total.goods_sort | safe }},
		dataLabels: {
			enabled: true,
			rotation: -90,
			color: '#FFFFFF',
			align: 'right',
			format: '{point.y:.0f}', // :.1f 为保留 1 位小数
			y: 10
		}
	}]
});


    </script>

{% endblock %}
