    {% extends 'mother.html' %}

    {% block title %}CRM{% endblock %}

    {% load staticfiles %}

    {% block css %}
    <!-- Date-time picker css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/pages/advance-elements/css/bootstrap-datetimepicker.css' %}">
    <!-- Date-range picker css  -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-daterangepicker/css/daterangepicker.css' %}" />
    <!-- Date-Dropper css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datedropper/css/datedropper.min.css' %}" />
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">

        <!-- 导入每个具体模块的第三方模块css -->


<style>

.icofont{
display:inline-block;
width:36px;
height:36px;/*占个位**/
color:#e95d4e;
font-size:36px;
}
.icofont:after,.icon::after{
display:inline-block;
content:"";/*在这里调用字符*/
width:5px;
height:5px;
margin-left:-16px;/*position:absolute什么的也可以，看具体情况*/
}



</style>



    {% endblock %}


    {% block content %}



        <div class="page-header card">
            <div class="card-block">
                <h5 class="m-b-10">CRM</h5>
                <p class="text-muted m-b-10">lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <ul class="breadcrumb-title b-t-default p-t-10">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">订单系统</a>

                        <!-- 京东服务单内部面包屑 -->

                    </li>
                    <li class="breadcrumb-item"><a href="#!">订单中控台</a>
                    </li>
                </ul>
            </div>
        </div>

            <!-- tab header start -->
                <div class="tab-header card">
                    <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'crm_orders:overview' %}" >订单中控台</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crm_orders:list' %}" >订单明细</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crm_orders:upload' %}" >订单导入</a>
                            <div class="slide"></div>
                        </li>
                    </ul>
                </div>
                <!-- tab header end -->


        <div class="tab-pane" id="contacts" role="tabpanel">
            <div class="row">
                <div class="col-xl-2">
                    <!-- user contact card left side start -->
                    <div class="card">
                        <div class="card-header contact-user">
                            <h5 class="m-l-10">功能模块</h5>
                        </div>
                        <div class="card-block">
                            <ul class="list-group list-contacts">
                                <li class="list-group-item active"><a href="{% url 'crm_orders:overview' %}">全部更新信息概述</a></li>
                                <li class="list-group-item"><a href="{% url 'crm_orders:otc' %}">客户信息更新</a></li>
                                <li class="list-group-item"><a href="#">时间积分卡更新</a></li>
                                <li class="list-group-item"><a href="#">区域积分卡更新</a></li>
                                <li class="list-group-item"><a href="#">购买力积分卡更新</a></li>
                            </ul>
                        </div>

                        <div class="card-block groups-contact">
                            <div class="card-header contact-user">
                                <h5 class="m-l-10">待处理一览</h5>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item justify-content-between">
                                    订单未更新数量
                                    <span class="badge badge-primary badge-pill">30</span>
                                </li>
                                <li class="list-group-item justify-content-between">
                                    时间积分待处理
                                    <span class="badge badge-success badge-pill">20</span>
                                </li>
                                <li class="list-group-item justify-content-between">
                                    区域积分待处理
                                    <span class="badge badge-info badge-pill">100</span>
                                </li>
                                <li class="list-group-item justify-content-between">
                                    购买力积分待处理
                                    <span class="badge badge-danger badge-pill">50</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- user contact card left side end -->
                </div>
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- contact data table card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">当前系统订单概览</h5>
                                </div>
                                <div class="card-block contact-details">

                                    <div class="col-md-12">
                                        <div class="card b-l-success business-info services m-b-20">
                                            <div class="card-header">
                                                <div class="service-header">
                                                    <a href="#">
                                                        <h5 class="card-header-text"></h5>
                                                    </a>
                                                </div>

                                            </div>
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-5">
                                                        <div class="card statustic-card">
                                                            <div class="card-header">
                                                                <h5>全部订单</h5>
                                                            </div>
                                                            <div class="card-block text-center">
                                                                <span class="d-block text-c-green f-36">56</span>
                                                                <p class="m-b-0">全部订单数</p>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-c-yellow" style="width:56%"></div>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer bg-c-green">
                                                                <h6 class="text-white m-b-0">已完成订单数: 22</h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-lg-5">
                                                        <div class="card statustic-card">
                                                            <div class="card-header">
                                                                <h5>全部客户</h5>
                                                            </div>
                                                            <div class="card-block text-center">
                                                                <span class="d-block text-c-blue f-36">56</span>
                                                                <p class="m-b-0">全部客户数</p>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-c-yellow" style="width:56%"></div>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer bg-c-blue">
                                                                <h6 class="text-white m-b-0">未完成数: 22</h6>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-lg-2">

                                                        <div class="big-icon">
                                                            <i class="icofont icofont-favourite"></i>
                                                            <span style="font-size: x-large">特别提示</span>
                                                        </div>




                                                        <div class="card bg-c-pink order-card">
                                                            <div class="card-block">
                                                                <h6>需要处理订单数</h6>
                                                                <h2 class="text-right"><i class="ti-tag f-left"></i><span>1641</span></h2>
                                                                <p class="m-b-0"><span class="f-right"></span></p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- end of col-sm-8 -->
                                                </div>
                                                <!-- end of row -->
                                            </div>
                                            <!-- end of card-block -->
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- contact data table card end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}



    {% block js %}
    <!-- Date-range picker js -->
    <script  src="{% static 'bower_components/bootstrap-daterangepicker/js/daterangepicker.js' %}"></script>

    <!-- Date-dropper js -->
    <script  src="{% static 'bower_components/datedropper/js/datedropper.min.js' %}"></script>

    <!-- data-table js -->
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- ck editor -->
    <script src="{% static 'assets/pages/ckeditor/ckeditor.js' %}"></script>

    <!-- echart js -->
    <script src="{% static 'assets/pages/chart/echarts/js/echarts-all.js' %}" ></script>
    <script src="{% static 'assets/pages/user-profile.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/vertical/vertical-layout.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <script src="{% static 'bower_components/bootstrap-table/bootstrap-table.js' %}" rel="stylesheet"></script>
    <script src="{% static 'bower_components/bootstrap-table/locale/bootstrap-table-zh-CN.js' %}"></script>
        <!-- 导入每个具体模块的第三方模块js-->

    <!-- Todo js -->
    <script  src="{% static 'assets/pages/todo/todo.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/vertical/vertical-layout.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>


        <!-- 导入每个具体模块的第三方模块js-->

<!--
        <script type="text/javascript">

            function tocustomers(current_elem, num){
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "",
                    data: {"tocustomers": num},
                    async: true,
                    beforeSend: function(xhr, settings){
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function(data){
                        if(data.status == "fail"){
                            $("#tocustomerret").text(data.message)
                        }
                        else if(data.status == "success"){
                            $("#tocustomerret").text(data.message)
                        }
                    }
                });
            };

            $("#toustomerbt").on("click", function() {
            var num = $(this).prev().attr("value");
            tocustomers($(this), num);
        });


        </script>

-->
    {% endblock %}
